body{padding:0;margin:0;background:#fff;behavior:url(csshover.htc)}

#container{width:1920px; margin:0 auto;}

#header {padding:10px}
.texte1  {width: 100px ; height :20px;background:rgb(39, 228, 241);padding: 2px; margin: 2px;}
.texte2  {width: 100px ; height :20px;background:white;padding: 2px; margin: 2px;}


#table {display :table;}
.row {display:table-row;}
.cell {display: table-cell}
.red {font-weight:800;color:red;}
.green {font-weight:800;color:green;}
#twasimul{margin-left: 20px;font-weight:800;color:green;}

.noir {color:black; padding:1px; margin:1px;}
 a:hover {background:rgba(131, 131, 202, 0.973); padding:1px;margin:1px;}

.twa {width: 50px ; height :20px;background:red;padding: 4px; margin: 0px;}

#main { margin-top: 25px;  text-align: center;   font-size: 10px;    }

#windy {  width: 100%; height: 100%;            }
#infosimul{margin-left: 30px;}
#infosimul3{margin-left: 30px;font-size:15pt}


H1{font-size:30pt;font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;color:rgb(43, 199, 82);font-weight:800;text-align:left}
H2{font-size:20pt;font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;color:#000;font-weight:800;text-align:left}
H3{font-size:15;font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;color:rgb(20, 12, 94);font-weight:800;text-align:left}

.ui-widget {font-size :0.8em ; color:white;}
/* .ui-widget-content { background: red;} */
#spinner_twa  {width: 50px ; height :20px;background:red;padding: 4px; margin: 0px;}
#spinner_hdg  {width: 50px ; height :20px;background:green;padding: 4px; margin: 0px;}


#infos {
    /* width:5%; */
    /* height:5%; */
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top:100px;
    left:30%;
    padding:5px;
    border:1px solid grey;
    z-index:10;
    border-radius:10px;
    font-size:12pt

    /* display:none; */
}



.boite2 {
  display: flex;
  flex-wrap: wrap;
     width:400px; 
         /* height:200px;  */
    background: rgba(255,255,255, 0.7);
    position: absolute;
    top:250px;
    left:0%;
    padding:0px;
    margin:5px;
    border:1px solid grey;
    z-index:10;
    border-radius:10px;
    font-size:10pt;
    color:black;
    /* display:none; */
}



.boite2 span {
  margin:5px;
  font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;
  font-size:15px;
  font-weight: bold;
}



 .tableau span {
  display:inline;
  float:left;
  /* border:1px solid #FF6600; */
  margin:0px;
  padding:3px;
 }
.tableau p {
  clear:left;
  margin:0px;
  padding:0px;
  height:100% !important; height:1em;
 }
.tableau p.legende {font-weight:bold}
.tableau span.col1 {width:70px}
.tableau span.col2 {width:140px}
.tableau span.col3 {width:140px}
.tableau span.col4 {width:50px}
.tableau span.col5 {width:60px}


.titre {
    margin: 0px;
    padding: 3px;
    width: 80px;
    height: 20px;
    background-color: lightblue;
    border: 1px solid blue;
    display: inline-block;
    text-align:center;
    border-radius:3px;
  }

  .corps {
    margin: 0px;
    padding: 3px;
    width: 80px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid blue;
    display: inline-block;
    text-align:center;
    border-radius:3px;
  }

  td {
    font-size:10pt;
    width: 70px;
    color:black;
    text-align:center;

  }

  .large {
    font-size:10pt;
    width: 120px;
    color:black;
    text-align:center;

  }


  .boite3 {
    width: 400px; 
    /* height:200px;  */
    background: rgba(255, 255, 255, 0.7);
    padding:5px;
    margin:5px;
    border:1px solid grey;
    z-index:10;
    border-radius:10px;
    font-size:10pt;
    color:black;
   
  }







  .boite3 span{
    border:1px solid grey;
    margin:10px;
  }
  .boite3 p{
    //border:1px solid grey;
    margin:5px;
  }


  .boite0 {
  
    width:400px; 
    background: rgba(255,255,255, 0.7);
    position: absolute;
    top:10px;
    left:0%;
    padding:0px;
    margin:5px;
    border:1px solid grey;
    z-index:11;
    border-radius:10px;
    font-size:12px;
    font-weight:bold;
    color:black;
    /* display:none; */
}

  
.boite {
  
  width:400px; 
  height:200px;
  position :absolute ;
  top:250px;
  background: rgba(255,255,255, 0.7);
  padding:0px;
  margin:5px;
  border:1px solid grey;
  z-index:10;
  border-radius:10px;
  font-size:17px;
  font-weight: normal;
  color:black;
}

.Tableau span {
 display:inline;
 float:left;
 border:0px solid #FF6600;
 margin:0px;
 padding:3px;

}
.Tableau p {
 clear:left;
 margin:0px;
 padding:0px;
 height:100% !important; height:1em;
}
.Tableau p.legende {font-weight:bold}
.Tableau span.col1 {width:80px; text-align:center;}
.Tableau span.col2 {width:145px; text-align:center;}
.Tableau span.col3 {width:120px; text-align:center;padding:4px;}
.Tableau span.col4 {width:50px; text-align:center;border:0px solid #070707;}

.Tableau span.col5 {width:40px; text-align:center;border:0px solid #58d410c9; margin-top:5px;}
.Tableau span.col6 {width:40px; text-align:center;border:0px solid #070707;}
.Tableau span.col7 {width:35px; text-align:center;border:0px solid #070707;}
.Tableau span.col8 {width:25px; text-align:center;border:0px solid #070707;}
.Tableau span.col4r {width:58px; text-align:center; color:red;}
.Tableau span.col4g {width:58px; text-align:center; color:#f0b30b;}

.col01 {float:left;width:130px; text-align:center;border:1px solid #ff000000;border-radius:3px;padding:5px;margin:10px 5px 10px 5px;font-size:17px;}
.col02 {float:left;width:120px; text-align:center;border:1px solid #ff000000;border-radius:3px;padding:5px;margin:10px 5px 10px 5px;font-size:17px;}
.col03 {float:left;width:110px;text-align:center;border:1px solid #ff000000;border-radius:3px;padding:5px;margin:10px 5px 10px 5px;font-size:17px;}
