body{padding:0;margin:0;background:#fff;behavior:url(csshover.htc)}
#main { margin-top: 25px;  text-align: center;   font-size: 10px;    }

#windy {  width: 100%; height: 90%;            }

H1{font-size:30pt;font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;color:rgb(43, 199, 82);font-weight:800;text-align:left}
H2{font-size:20pt;font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;color:#000;font-weight:800;text-align:left}
H3{font-size:20pt;font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;color:rgb(20, 12, 94);font-weight:800;text-align:left}

.ui-widget {font-size :0.8em ; color:white;}
/* .ui-widget-content { background: red;} */
#spinner_twa  {width: 50px ; height :20px;background:red;padding: 4px; margin: 0px;}
#spinner_hdg  {width: 50px ; height :20px;background:green;padding: 4px; margin: 0px;}






