<html>
    <head>
        <meta name="viewport"   content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <meta charset="utf-8"/>     
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script  type="text/javascript" src="{{ url_for('static', filename='js/windleaf.js') }}"></script>
        <script  type="text/javascript" src="{{ url_for('static', filename='js/canvas.js') }}"></script>
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
        <script src="https://api.windy.com/assets/map-forecast/libBoot.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/windleaf.css') }}">

    </head>
   

    <script type="text/javascript">
    var windiv=document.getElementById("windy")
   // console.log( 'twasimul1 v1'+document.getElementById('twasimul1').innerHTML) // nexiste pas encore
    

    </script>


    <script type="text/javascript">
       
           // on recupere les donnees postées

            latdep        = - {{ latdep }}
            lngdep        =   {{ lngdep }}
            latar         = - {{  latar }}
            lngar         =   {{  lngar }}
            twavr        =   {{  twavr }}
            twsvr        =   {{  twsvr }}
            twdvr        =   {{  twdvr }}

            nomgrib   =  '{{ nomgrib }}'

            polylinered   =   {{  multipolyred }}
            polylineblack =   {{  multipolyblack }}
            polylineblue  =   {{  route }}
            comment       =   {{  comment }}
            l1            =   {{ l1 }}           // cles pour lire les tableaux de polaire
            l2            =   {{ l2 }}
            polairesjs    =   {{ polairesjs }} 
            course= {{ course }}
            
            U10 = {{ U10 }}
			V10 = {{ V10 }}
			tig = {{ tig   }}
            tsimation  = {{ t0    }}

			latini= {{ latini }}
			latfin= {{ latfin }}
			lngini= {{ lngini }}
            lngfin= {{ lngfin }} 
            //nomcourse= {{ nomcourse }} 

            
            console.log('tig : ' + tig )
            console.log('latdep : '+ latdep)
			console.log('lngdep : '+ lngdep)
			console.log('latini : '+ latini)
			console.log('latfin : '+ latfin)
			console.log( 'lngini : '+ lngini)
            console.log('lngfin : '+ lngfin)
            console.log('course : '+ course)
            console.log('nomgrib: '+nomgrib )
            console.log('twavr: '+twavr )
            var date0=new Date(tsimation*1000) 
          
         // Recuperation de donnees du json des courses
            var requestURL= " {{ url_for('static', filename='js/courses.json') }}"
            var request = new XMLHttpRequest();
            request.open('GET', requestURL);
            request.responseType = 'json';
            request.send();
            request.onload = function()
            {
            var courses= request.response;
            nomcoursetest=courses[course]['nom']
            barriere=courses[course]['barriere']
        
            //console.log('Barriere : '+barriere)
            }
         



            var numero_point_jp=0
            var timestampjp=0
            var latmap=(latdep+latar)/2           
            var lngmap=(lngdep+lngar)/2
            var tooltip=new Array();
            var popup = L.popup({ offset: L.point(0, 0) });
            var poly
            var circle1=new Array();
            var circle2=new Array();
            var circle3=new Array();
            var poly = new L.Polyline ([[0,0],[1,1]]).setStyle({color:'red',weight:1,});
            var poly2= new L.Polyline ([[0,0],[1,1]]).setStyle({color:'red',weight:1,});
            var polylinesimul=new L.Polyline ([[0,0],[1,1]]).setStyle({color:'red',weight:1,});  

            meteodepart=vit_angle_vent (latdep,lngdep ,tsimation) 
            twsini=meteodepart[0].toFixed(2)
            twdini=meteodepart[1].toFixed(1)
            hdgini=comment[0][5].toFixed(1)
            twaini=comment[0][6].toFixed(1)

            for ( var i=0 ; i<74 ; i++ )
                {      circle1[i] = new L.circle([1][1], {  color: 'yellow',radius: 200,});}
            for ( var i=0 ; i<74 ; i++ )
                {      circle2[i] = new L.circle([1][1], {color: 'yellow',radius: 200,});}
            for ( var i=0 ; i<74 ; i++ )
                {      circle3[i] = new L.circle([1][1], {color: 'yellow',radius: 200,});}


            dist=((latdep-latar)**2+(lngdep-lngar)**2)**.5
            if(dist<5)  {zoomp=7}
            else if (dist<10){zoomp=6}
            else if (dist<20){zoomp=5}  
            else if (dist<70){zoomp=5}  
            else {zoomp=6}

            console.log('Zoom carte : '+zoomp)
            console.log('Temps en s simulation',tsimation)
            console.log ('Depart TWS :'+twsini+ 'm/s  TWD '+ twdini +'°')
            console.log ('HDG ini : ' +hdgini +'° Twa ini : '+twaini+'°')
            console.log('Prise en compte du fichier js :'+arrondi(10.123456789,3))
            console.log ('test prise en compte du temps sec '+(comment[0][2]+tig)+'ecart avec grib'+ (comment[0][2]+tig-tsimation))
            console.log ('tig en heure locale' +intl.format(1000*(tig)))
            
            console.log (intl.format(1000*(comment[0][2]+tig))) // a priori t0 du demarrage serveur
            console.log (intl.format(1000*(comment[0][2]+tsimation)))
            console.log('tig '+tig)
            for ( var i=0 ; i<comment.length ; i++ )
            {              
            sec= comment[i][2]-(tsimation-tig);    //    sec=sec-(sec%60) ; // secondes depuis le depart  
            tooltip[i]='<b>'+intl.format(1000*(comment[i][2]+tig))+' soit +  '+h_mn(sec)+  '<br> Lat : '+comment[i][0].toFixed(4) +'° ('+pos_dec_mn(comment[i][0])+')<br>Lng : ' +comment[i][1].toFixed(4) +'° (' +pos_dec_mn(comment[i][1])+')<br> TWS : ' +comment[i][3].toFixed(2)
                +' Noeuds  -  TWD : ' +comment[i][4].toFixed(0)+'° <br>  Cap ' +comment[i][5].toFixed(1) +'°     -  TWA ' +comment[i][6].toFixed(1) +'° <br> Vitesse :  ' +comment[i][7].toFixed(2) +' Noeuds'
            
           if  (comment[i][2]>34200 && comment[i][2]<34790) { var isogrib=i-3}
           else {isogrib=1} 
           
            }    
            
            


        function initialize()
        {            
            // document.formu.latdep.value = latdep.toFixed(4)+' soit '+pos_dec_mn(latdep) 
            // document.formu.lngdep.value = lngdep.toFixed(4)+' soit '+pos_dec_mn(lngdep)
            // document.formu.latar.value  = latar.toFixed(4)+' soit '+pos_dec_mn(latar) 
            // document.formu.lngar.value  = lngar.toFixed(4)+' soit '+pos_dec_mn(lngar)
                                
        }
   

        const options =
        {
        key: 'ydO74Xuxv2WWOEShDpel1kaiae8zCnLO',
        verbose: true,
        // Centrage initial de la carte et zoom 
        lat:latdep,
        lon:lngdep,
        //lat: (latdep+latar)/2,
        //lon: (lngdep+lngar)/2,
        //zoom: zoomp,
        zoom:8
        }

       
      
   
    windyInit(options, windyAPI =>
    {
        const { map,picker, utils, broadcast,store } = windyAPI
        

    var texteboite1="  <span id='course2' class='col01'> Course vg </span>"
    +" <span id='date2' class='col02'>Date</span>"
    +" <span id='bateau2' class='col03'>Bateau</span>  "
    +"<form name='formu3'>"
    +"<div class='Tableau'>"
        
        +" <p >"
            +"<span class='col1' >  VR :</span>"
            +"<span class='col10' >  </span>"
            +" <span class='col6'>TWA:</span>"
            +" <span class='col6' id='twavr'  ' >000</span>"
            +" <span class='col6'>TWS:</span>"
            +" <span class='col6' id='twsvr'  ' >000</span>"
            +" <span class='col6'>TWD:</span>"
            +" <span class='col6'id ='twdvr'>000</span>"
            +" </p >"

        +" <p >"
            +"<span class='col1' > Grib :</span>"
            +"<span class='col2b' id ='idnomgrib'  ><font color='blue'>gfs 20111115-06-384</font></span>"
            +" <span class='col6'>TWS:</span>"
        +" <span class='col6' id='twsini'  ' >000</span>"
        +" <span class='col6'>TWD:</span>"
        +" <span class='col6'id ='twdini'>000</span>"
        +" </p >"
        
        +" <p >"
        +" <span class='col1'>Depart</span>"
        +" <span class='col2'><input type='text' name='latdep3' id ='latdep2' value='test'  size=16></span>"
        +" <span class='col2'><input type='text' name='lngdep3' size=16></span>"
        +" </p>"
        +" <p>"
        +"<p>"
        +"<span class='col1'>Arrivee</span>"
        +"<span class='col2'><input type='text' name='latar3' size=16></span>"
        +"<span class='col2'><input type='text' name='lngar3' size=16></span>"
        +" </p>"

      
       
        +" <span class='col1'>Proposé :</span>"
        +" <span class='col6'>HDG :</span>"
        +" <span class='col6'id ='hdgini'><font color='red'>000</font></span>"
        +" <span class='col6'>TWA:</span>"
        +" <span class='col6'id ='twaini'><font color='green'>30</font></span>"
        +" <span class='col7'>Vit:</span>"
        +" <span class='col6' id ='vitini'><font color='blue'>0</font></span>"
        +" </p>"
        
        +"<p>"
        +"<span class='col1'>Curseur</span>"
        +"<span class='col2'><input type='text' name='latcurseur3' size=16></span>"
        +"<span class='col2'><input type='text' name='lngcurseur3' size=16></span>"
        +"</p> "  
        +"</p>"
        +"<span class='col3'>"
            +"<button title='Previous  wind' class='nnav' style='margin-left: 0px';onmousedown='prev_wind();' >&lt;</button><select id='hours' class='nnav' title='Wind time' onchange='show_wind(this.selectedIndex);'>"
                +"<option selected>Now</option>"
                +"<option >+1 h</option>"
                +"<option >+2 h</option>"
                +"<option >+3 h</option>"
                +"<option >+4 h</option>"
                +"<option >+5 h</option>"
                +"<option >+6 h</option>"
                +"<option >+7 h</option>"
                +"<option >+8 h</option>"
                +"<option >+9 h</option>"
                +"<option >+10 h</option>"
                +"<option >+11 h</option>"
                +"<option >+12 h</option>"
                +"<option >+13 h</option>"
                +"<option >+14 h</option>"
                +"<option >+15 h</option>"
                +"<option >+16 h</option>"
                +"<option >+17 h</option>"
                +"<option >+18 h</option>"
                +"<option >+19 h</option>"
                +"<option >+20 h</option>"
                +"<option >+21 h</option>"
                +"<option >+22 h</option>"
                +"<option >+23 h</option>"
                +"<option >+24 h</option>"	
                +"</select>"
                +"<button class='nnav' title='next wind' style='margin-right: 0px;' onmousedown='next_wind();'>&gt;</button>"
            +" </span>"
                +" <span class='col5'>TWS</span>"
                +" <span class='col4' ><input type='text' name='tws3'size=3 ></span>"
                +"    <span class='col5'>TWD</span>"
                +"    <span class='col4'><input type='text' name='twd3' size=3 ></span>"
            +"     <span class='col5'>DIST</span>"
            +"    <span class='col4'><input type='text' name='dist3' size=3  ></span>"
            +"  </p>"
            +"  </p>"
            +"      <span class='col8'></span>"
            +"      <span id='infosimul3'  >Cap et TWA: </span>"
            +"    <span class='col8'></span>"
            +" </p>"
            +"<input type='hidden' id='capm3'><input type='hidden' id='twam3'><input type='hidden' id='npt'>"
            +"</form>"

            var texteboite2="<div class=simulation>Simulation :   Cap <input type='checkbox'  id= 'lignecap' checked> TWA <input type='checkbox' id='lignetwa' checked><br> "
            +"<table>"
            +"<tr><td></td> <td>TWA</td> <td> CAP</td> <td>Duree</td> </tr>"
            +"<tr><td id = 'heure0' class='large' >"+intlhmn.format(date0)+"</td> <td><input type='text' id = 'twasimul1' size =2 value =-135 ><input type='radio' id ='twa1' name='s1' value='twa' ></td>"
            +"    <td><input type='text' id = 'capsimul1' size =2 value =-135  ><input type='radio' id ='cap1' name='s1' value='cap' ></td>"
            +"    <td><input type='text' id = 'tsimul1'   size =2 value =  60  >mn</td></tr>"    
            
            +"<tr><td id ='heure1'></td><td><input type='text' id = 'twasimul2' size =2 value = -135 ><input type='radio' id ='twa2' name='s2' value='twa' ></td>"
            +"    <td><input type='text' id = 'capsimul2' size =2 value =170 ><input type='radio' id ='cap2' name='s2' value='cap' ></td>"
            +"    <td><input type='text' id = 'tsimul2'   size =2 value = 120 >mn</td></tr>"   
            
            +"<tr><td id ='heure2'></td><td><input type='text' id = 'twasimul3' size =2 value =+135 ><input type='radio' id ='twa3' name='s3' value='twa' ></td>"
            +"    <td><input type='text' id = 'capsimul3' size =2 value =140 ><input type='radio' id ='cap3' name='s3' value='cap' ></td>"
            +"    <td><input type='text' id = 'tsimul3'   size =2 value =120  >mn</td></tr>" 

            +"<tr><td id ='heure3'></td><td><input type='text' id = 'twasimul4' size =2 value =+140 ><input type='radio' id ='twa4' name='s4' value='twa' ></td>"
            +"    <td><input type='text' id = 'capsimul4' size =2 value =120 ><input type='radio' id ='cap4' name='s4' value='cap' ></td>"
            +"    <td><input type='text' id = 'tsimul4'   size =2 value =120 >mn</td></tr>" 
            
            +"<tr><td id ='heure4'></td><td><input type='text' id = 'twasimul5' size =2 value =+140 ><input type='radio' id ='twa5' name='s5' value='twa' ></td>"
            +"    <td><input type='text' id = 'capsimul5' size =2 value =120 ><input type='radio' id ='cap5' name='s5' value='cap' ></td>"
            +"    <td><input type='text' id = 'tsimul5'   size =2 value =120 >mn</td></tr>" 
                        
            +"</table>"            
            +" <div id='ok'><input type=button id = 'valid' name='valid' value='Ok'  ></div>";



           var texteboite3= "<canvas id = 'myCanvas1' width='400' height= '400' >  Browser incompatible</canvas>"
            +"<canvas id = 'myCanvas3' width='400' height= '400' >  Browser incompatible</canvas>"
            +"<canvas id = 'myCanvas2' width='400' height= '400' >  Browser incompatible</canvas>"
            +"<div id= 'textecanvas'>"
           
            
            +"    <div id= 'bateau'>Bateau</div>"
            +"       <div id='titre2' > TWS<br> "
            +"            <input type='button' id='bouton1' onclick='moins();' style ='position: relative;left:0px;margin:0px;' value= '<<'> </button>"
            +"            <input type='button' id='bouton2' onclick='petitmoins();' style  ='position: relative;left:0px;margin:0px;' value= '<'></button>"
            +"            <input type ='text'  id='tws'  size ='1'  style ='position: relative; left:0px; top:0px;   margin:0px;'>"
            +"            <input type='button' id='bouton3' onclick='petitplus();'style ='position: relative;left:0px;margin:0px;' value= '>'></button>"
            +"            <input type='button' id='bouton4' onclick='plus();' style ='position: relative;left:0px;margin:0px;'value= '>>'></button>"
            +"       </div>"
            +"       <div id='titretwa'>"
            +"          <input type='button' id='bouton5' onclick='twamoins();' style ='position: relative;left:0px;margin:0px;'value= '-'></button>"
            +"         <span class='titre3' > TWA : </span>  <span id='twapol'   class='text1'> XXX </span>° "
            +"          <input type='button' id='bouton5' onclick='twaplus();' style ='position: relative;left:0px;margin:0px;'value= '+'></button>"

            +"       </div>"
            +"         <div id='titrevitesse' >  <span id='speed1' class='text1'> 00 </span>Knts </div>"
            +"         <div id='titrevitesse' > Vmg <span id='speedvmg' class='text1'> 10 </span>Knts </div>"
            +"         <div id='optimums' >  "
            +"             <div class='titre3' > Près :   <span id='twamax' class='text1'> YYY </span>  <span id='vmgmax'>twamin</span> </div>"
            +"             <div class='titre3' > Arr :  <span id='twamax2' class='text1'> YYY </span>  <span id='vmvamax'>twamax</div>"
            +"             <div class='titre3' > Vit :   <span id='twaopti' class='text1'> YYY </span>  <span id='speedmax'>twamin</span></div>"
            +"         </div>"
            +"<div id= 'lien'><a href='http://toxcct.free.fr/polars/?race_id=440.1&tws="+twsvr+"&twa="+twavr+"&foil=true&hull=true&reach=true&heavy=true&light=true'>Toxcct</a> </div>"
            +"    </div>"
            +"</div>"

           



        // tous ces elements sont traites quoiqu'il arrive
        //console.log(polylineblue)

        L.polyline(polylineblack).setStyle({ color: 'black', weight:1, opacity:0.3, }).addTo(map);          // Isochrones noirs
        L.polyline(polylinered)  .setStyle({ color: 'red'  , weight:1, opacity:0.3, }).addTo(map);          // Isochrones rouges
        L.polyline(polylineblue) .setStyle({ color: 'blue' , weight:2,              }).addTo(map);          // Route 
        L.marker([latdep, lngdep],  {icon: blackIcon}).bindTooltip(tooltip[0]).addTo(map);                  // Depart
        L.marker([latar, lngar],    {icon: redIcon}).addTo(map);                                            // Arrivee
        L.polygon(barriere) .setStyle({ color: 'red' , weight:1,    opacity:0.5          }).addTo(map);     // Barriere 
        L.polyline(polylinered[isogrib])  .setStyle({ color: 'red'  , weight:3, opacity:0.3, }).addTo(map); // Prochain grib
      
      
        // rectangle de chargement des vents decompose en 2 parties
        if (lngini>180) {lngini2=-360+lngini} else {lngini2=lngini}
        if (lngfin>180) {lngfin2=-360+lngfin}else {lngfin2=lngfin}

        console.log ('lngini  ,lngfin ' +lngini +' ' +lngfin)
        console.log ('lngini2 ,lngfin2 ' +lngini2 +' ' +lngfin2)

        if (lngfin2>lngini2)
        {latlngpoly=[[latini, lngini2],[latini, lngfin2],[latfin, lngfin2],[latfin, lngini2],[latini, lngini2]]
         console.log('latlngpoly '+ latlngpoly)   
        L.polyline(latlngpoly).setStyle({ color: 'green', weight:2, opacity:0.3, }).addTo(map);}
        else
        {
        latlngpoly1=[[latini, -0.01],[latini, lngini2-360],[latfin, lngini2-360],[latfin,-0.01]]
        L.polyline(latlngpoly1).setStyle({ color: 'black', weight:2, opacity:0.3, }).addTo(map);
        latlngpoly2=[[latini, +0.01],[latini, lngfin2],[latfin, lngfin2],[latfin,+0.01]]
        L.polyline(latlngpoly2).setStyle({ color: 'blue', weight:2, opacity:0.3, }).addTo(map);
        }
      
        // Creation des trois boites
        let elt = document.getElementById("windy");

        const newElt1 = document.createElement("div");  
        newElt1.classList.add("boite1");
        newElt1.innerHTML=texteboite1          
        elt.appendChild(newElt1);

        const newElt2 = document.createElement("div");
        elt.appendChild(newElt2);
        newElt2.classList.add("boite2"); 
        newElt2.innerHTML=texteboite2
    
        const newElt3 = document.createElement("div");
        elt.appendChild(newElt3);
        newElt3.classList.add("boite3"); 
        newElt3.innerHTML=texteboite3
       
        // initialisation des canvas    
        var isdrawing = false;
        ctx1=document.getElementById("myCanvas1").getContext("2d");
        ctx2=document.getElementById("myCanvas2").getContext("2d");
        ctx3=document.getElementById("myCanvas3").getContext("2d");
        ctx2.translate(10,200)
        var myCanvas1=document.getElementById("myCanvas1");
        var myCanvas2=document.getElementById("myCanvas2");
        var myCanvas3=document.getElementById("myCanvas3");

    // fonction quand deplacement de la souris   
            //  Initialisation des valeurs de la boite polaires
             var twsinitial=twsvr      
             var twainitial=twavr 
             speed=polinterpol2d(polairesjs,twavr,twsvr)
             vmg=speed*Math.cos(twainitial*Math.PI/180)   
             document.getElementById('tws').value=twsvr
             document.getElementById('twapol').innerHTML=twavr.toFixed(1)
             document.getElementById('speed1').innerHTML=speed.toFixed(2)
             document.getElementById('speedvmg').innerHTML=vmg.toFixed(2)

    // fonction pour animer la polaire    
            myCanvas2.addEventListener("mousedown", function(e)
            { isdrawing=true        });
            myCanvas2.addEventListener("mouseup", function(e)
            { isdrawing=false       });
            myCanvas2.addEventListener("mousemove", function depl(evt)
            {
                if ( isdrawing==true)
                    {

                        document.getElementById('tws').value=twsinitial
                        angleini=twainitial
                        x=(evt.offsetX)-10
                        y =(evt.offsetY)-200
                        angle=Math.round(Math.atan(y/x)*180/Math.PI +90) ;
                        longueur=185/Math.sqrt(x*x+y*y)
                        if (angleini != angle) 
                            {ctx2.clearRect(-10,-200, 400, 400); // vider le canevas
                            line0('ctx2',0,0,x*longueur,y*longueur,'blue',1);
                            cercle2(x*longueur,y*longueur,4,-3.14,3.14,'blue',1)   // petite boule
                            write2(angle+'°','red','12px Calibri','start',x*longueur+15,y*longueur)
                            angleini=angle;
                        //    console.log('Angle :'+angle)
                        // ecrire2 ('TWA : '+angle)
                            document.getElementById('twapol').innerHTML=angle
                            tws=twsinitial
                            res=polinterpol2d(polairesjs,angle,tws)
                            document.getElementById('speed1').innerHTML=res.toFixed(2)
                            vmg=res*Math.cos(angle*Math.PI/180) 
                            document.getElementById('speedvmg').innerHTML=vmg.toFixed(2)
                          
                            }   
                    }
            });




        // affiche ou non les lignes de cap et de twa  constants 
        affichecap=1
        lignecap.addEventListener("click", function (evt)   
             {   if (document.getElementById('lignecap').checked==true ) {affichecap=1}  else  {affichecap=0}      } );
           
        affichetwa=1
        lignetwa.addEventListener("click", function (evt)   
        {   if (document.getElementById('lignetwa').checked==true ) {affichetwa=1} else {affichetwa=0}     } );   

        valid.addEventListener("click", function (evt)
        { 
            map.removeLayer(polylinesimul);
            //console.log ('(html l184 ) '+ tsimul)
            polylinesim=testPolyline(tsimation)
            polylinesimul=L.polyline(polylinesim).setStyle({ color: 'yellow', weight:3, opacity:1, }).addTo(map);
            for ( var j=1 ; j<74 ; j++ )  {map.removeLayer(circle3[j]);}
            for ( var i=0 ; i<polylinesim.length ; i++ )
            { circle3[i] = L.circle(polylinesim[i],{color: 'black',fillColor: '#f03',opacity:0.9,fillOpacity: 0.3,radius: 200,}).addTo(map);}  

            var deltat1=parseInt(document.getElementById('tsimul1').value)
            var deltat2=parseInt(document.getElementById('tsimul2').value)
            var deltat3=parseInt(document.getElementById('tsimul3').value)
            var deltat4=parseInt(document.getElementById('tsimul4').value)
            var deltat5=parseInt(document.getElementById('tsimul5').value)
           
            var date1=new Date(tsimation*1000+(+deltat1)*60000)
            var date2=new Date((tsimation*1000+(+deltat1+deltat2)*60000))
            var date3=new Date(tsimation*1000+(+deltat1+deltat2+deltat3)*60000)
            var date4=new Date(tsimation*1000+(+deltat1+deltat2+deltat3+deltat4)*60000)
            var date5=new Date(tsimation*1000+(+deltat1+deltat2+deltat3+deltat4+deltat5)*60000)

            document.getElementById('heure0').innerHTML=intlhmn.format(date0)
            document.getElementById('heure1').innerHTML=intlhmn.format(date1)
            document.getElementById('heure2').innerHTML=intlhmn.format(date2)
            document.getElementById('heure3').innerHTML=intlhmn.format(date3)
            document.getElementById('heure4').innerHTML=intlhmn.format(date4)
            document.getElementById('heure5').innerHTML=intlhmn.format(date5)
       
        });



            var sec=((store.get('timestamp')-Date.now())/1000);
            var numero=numero_point(sec);
            console.log(' ecart en sec '+sec+'point'+ numero_point(sec))
            var circlew = L.circle([1,1],{color: 'white',fillColor: '#f03',opacity:0.9,fillOpacity: 0.3,radius: 200,}).addTo(map);
            console.log ('Polyline  '+polylineblue[ numero  ])
            
            document.getElementById('bateau2').innerHTML=bateau
            document.getElementById('course2').innerHTML=nomcourse
            document.getElementById('date2').innerHTML=intlhmn.format(date0)
            document.getElementById('idnomgrib').innerHTML=nomgrib
            document.getElementById('twavr').innerHTML=twavr.toFixed(0)
            document.getElementById('twdvr').innerHTML=twdvr.toFixed(1)
            document.getElementById('twsvr').innerHTML=twsvr.toFixed(2)
            //document.getElementById('latdep2').innerHTML=latdep.toFixed(3)+'N '+pos_dec_mn(latdep)
            document.formu3.latdep3.value= pos_dec_mn_lat(latdep)+' '+latdep.toFixed(3)
            document.formu3.lngdep3.value= pos_dec_mn_lng(lngdep)+' '+lngdep.toFixed(3)
            document.formu3.latar3.value  = pos_dec_mn_lat(latar)+' '+latar.toFixed(3) 
            document.formu3.lngar3.value  = pos_dec_mn_lng(lngar)+' '+lngar.toFixed(3)
           
           
            avancement=document.formu3.capm3.value
            // console.log('avancement'+avancement)
        
        // cercles sur la polyline bleue
        for ( var i=0 ; i<polylineblue.length ; i++ )
            { var circle = L.circle(polylineblue[i],
            {color: 'black',fillColor: '#f03',opacity:0.9,fillOpacity: 0.3,radius: 200,})
            .bindTooltip(tooltip[i])
            .addTo(map);
             }    
       

        var popup = L.popup();
       
         
        

       // Elements traites au mouvement de la souris 

        map.on('mousemove', function(e)
        {  // valinit=document.getElementById('stocka0').innerHTML  //recuperation de la valeur cap0 par inner html
            valinit=document.formu3.capm3.value                       // recuperation de cap 0 par le formulaire  
           // twainit=document.getElementById('stocka1').innerHTML  //recuperation de la valeur
            twainit=document.formu3.twam3.value
            meteodepart=vit_angle_vent (latdep,lngdep ,tsimation)  //meteo au point de depart 
            try{meteocurseur=vit_angle_vent (e.latlng.lat,e.latlng.lng ,tsimation) }
            catch(err){console.log ('erreur sur la meteo');meteocurseur=meteodepart} //meteo au curseur 
            direction=dist_cap_ortho(latdep,lngdep,e.latlng.lat,e.latlng.lng) //direction distance vers le curseur
            twac=ftwao(direction[1],meteodepart[1]).toFixed(0) 
            
            document.formu3.latcurseur3.value=pos_dec_mn_lat(e.latlng.lat)+' '+e.latlng.lat.toFixed(3)
            document.formu3.lngcurseur3.value=pos_dec_mn_lng(e.latlng.lng)+' '+e.latlng.lng.toFixed(3)
            document.formu3.tws3.value=meteocurseur[0].toFixed(2)
            document.formu3.twd3.value=meteocurseur[1].toFixed(2)
            document.formu3.dist3.value=direction[0].toFixed(0) 
            valcal=direction[1].toFixed(0)
            
            cap0= Math.floor(direction[1])
            // Tracage des lignes twa et cap
         
         
            if (valinit!=valcal)
            {  
                
          //  console.log ('instant de de part de la simulation '+ tsimation)
          //  console.log ('instant de de part de la simulation formate '+intl.format(1000*tsimation))   
            polytwa=polyline_twa3(latdep,lngdep,twac,tsimation)
            polycap=polyline_cap2(latdep,lngdep,valcal,tsimation)
            map.removeLayer(poly);   map.removeLayer(poly2);
            for ( var j=1 ; j<74 ; j++ )  {map.removeLayer(circle1[j]); map.removeLayer(circle2[j]);}
            
            
            if (affichecap==1  ) 
            {
                for ( var i=1 ; i<polycap[0].length ; i++ )
                { if (i%6 != 0)
                    { circle1[i] = L.circle(polycap[0][i], {color: 'red' ,fillColor: '#f03',opacity:0.9,fillOpacity: 0.3,radius: 150,}).addTo(map);} 
                    else
                    { circle1[i] = L.circle(polycap[0][i], {color: 'orange' ,fillColor: '#f03',opacity:0.9,fillOpacity: 0.3,radius: 150,}).addTo(map);}
                }   
            }
            
          if (affichetwa==1  ) 
            {

            for ( var i=1 ; i<polytwa[0].length ; i++ )
            { if (i%6 != 0)
                {circle2[i] = L.circle(polytwa[0][i], {color: 'lime' ,fillColor: '#f03',opacity:0.9,fillOpacity: 0.3,radius: 150,}).addTo(map);}
              else  
               {circle2[i] = L.circle(polytwa[0][i], {color: 'green' ,fillColor: '#f03',opacity:0.9,fillOpacity: 0.3,radius: 150,}).addTo(map);}
            } 

        }



            }
            //else{console.log(" les deux valeurs sont identiques pas de recalcul")}
          //console.log ('meteodepart'+meteodepart)
          document.getElementById('twsini').innerHTML="<font color='purple'>"+meteodepart[0].toFixed(2) +"</font>"
          document.getElementById('twdini').innerHTML="<font color='purple' >"+meteodepart[1].toFixed(1) +"</font>"
          document.getElementById('hdgini').innerHTML="<font color='red'>"+comment[0][5].toFixed(1)+"</font>"
          document.getElementById('twaini').innerHTML="<font color='green'>"+comment[0][6].toFixed(1)+"</font>"
          document.getElementById('vitini').innerHTML="<font color='blue'>"+comment[0][7].toFixed(2)+"</font>"
          vit_pol_sim=polinterpol2d(polairesjs,twac,meteodepart[0]).toFixed(2) //vitesse polaire suivantsimulation 
          document.getElementById('infosimul3').innerHTML="<b><font color='red'> Cap : " +valcal +"</font>&nbsp;&nbsp;<font color='green' > TWA : "+twac +"<font color='blue'>&nbsp;&nbsp; Vit : "+ vit_pol_sim
          
            });



        


        map.on('contextmenu', function(e)
        {
            tooltiptest='<b> tooltiptest</b>'
            popup
                .setLatLng(e.latlng)
                .setContent( "     Latitude      : " +arrondi(e.latlng.lat,4) +" <br> Longitude : " +arrondi(e.latlng.lng,4)
                 +"<br><a href=javascript:void(0); onclick= itineraire("+e.latlng.lat+","+e.latlng.lng+","+latar+","+lngar+ ") ;>Definir comme Depart</a>"
                 +"<br><a href=javascript:void(0); onclick= itineraire("+latdep+","+lngdep+","+e.latlng.lat+","+e.latlng.lng+ ") ;>Definir comme Arrivee</a><br>"
                 )
                .openOn(map);
            
            
            // var tooltip = L.tooltip()
            // .setLatLng(e.latlng)
            // .setContent('<p>Hello world!<br />This is a nice popup.</p>')
            // .openOn(map);

            //openTooltip("<b>Test tooltip</b>",e.latlng)
            console.log ('position : '+e.latlng  ) 
            console.log ('mouseevent : '+map.mouseEventToLayerPoint(oncontextmenu)  ) 
            console.log ('client x :'+ e.screenX)
            console.log ('position : '+map.project([e.latlng.lat,e.latlng.lng],1  ))
           
        });




        broadcast.once('redrawFinished', () => {
            //picker.open({ lat: 48.4, lon: 14.3 });
            // Opening of a picker (async)
            console.log('Dans redraw finished once    '+store.get('timestamp'))  
        });

        broadcast.on('paramsChanged', () => 
        {
            var sec=((store.get('timestamp')-Date.now())/1000);
            console.log(' ecart en sec '+sec+'point'+ numero_point(sec))
            numero_point_jp=numero_point(sec)
            map.removeLayer(circlew)
            circlew = L.circle(polylineblue[ numero_point_jp  ], {
                            color: 'white',
                            fillColor: '#f03',
                            opacity:0.9,
                            fillOpacity: 0.3,
                            radius: 1000,
                        }).addTo(map);
        });
     

       broadcast.on('redrawFinished', params => {         })



        

    dessiner()   



    }) // Fin de windyInit



</script>          
    </head>
    <body onload="initialize()">
        <div id ="container">
            <div id="windy"> </div>
        </div>
    <script  type="text/javascript" src="{{ url_for('static', filename='js/windleaf2.js') }}"></script>  

    
    </body>
</html>