<html>
    <head>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
              
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
        <script src="https://api.windy.com/assets/map-forecast/libBoot.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/windleaf.css') }}">

        <script  type="text/javascript" src="{{ url_for('static', filename='js/windleaf.js') }}"></script>
        <script  type="text/javascript" src="{{ url_for('static', filename='js/windleaf2.js') }}"></script>
    </head>


    <script>

              
         // on recupere les donnees postées
            latdep        = - {{ latdep }}
            lngdep        =   {{ lngdep }}
            latar         = - {{  latar }}
            lngar         =   {{  lngar }}
            
            polylinered   =   {{  multipolyred }}
            polylineblack =   {{  multipolyblack }}
            polylineblue  =   {{  route }}
            comment       =   {{  comment }}
            l1            =   {{ l1 }}           // cles pour lire les tableaux de polaire
            l2            =   {{ l2 }}
            polairesjs    =   {{ polairesjs }} 
            
            U10 = {{ U10 }}
			V10 = {{ V10 }}
			tig = {{ tig   }}
            tsimul  = {{ t0    }}

			latini= {{ latini }}
			latfin= {{ latfin }}
			lngini= {{ lngini }}
			lngfin= {{ lngfin }} 
            

			console.log('tig : ' + tig )
			console.log('latini : '+ latini)
			console.log('latfin : '+ latfin)
			console.log( 'lngini : '+ lngini)
			console.log('lngfin : '+ lngfin)
         
          
            var latmap=(latdep+latar)/2           
            var lngmap=(lngdep+lngar)/2
            var tooltip=new Array();
            var popup = L.popup({ offset: L.point(0, 0) });
            var poly
            var circle1=new Array();
            var circle2=new Array();
            var poly = new L.Polyline ([[0,0],[1,1]]).setStyle({color:'red',weight:1,});
            var poly2= new L.Polyline ([[0,0],[1,1]]).setStyle({color:'red',weight:1,});
            for ( var i=0 ; i<74 ; i++ )
                {      circle1[i] = new L.circle([1][1], {  color: 'yellow',radius: 200,});}
            for ( var i=0 ; i<74 ; i++ )
                {      circle2[i] = new L.circle([1][1], {color: 'yellow',radius: 200,});}



            dist=((latdep-latar)**2+(lngdep-lngar)**2)**.5
            if(dist<5)  {zoomp=7}
            else if (dist<10){zoomp=6}
            else if (dist<20){zoomp=5}  
            else if (dist<70){zoomp=5}  
            else {zoomp=4}

            console.log('Zoom carte : '+zoomp)
            console.log('Temps en s simulation',tsimul)
            console.log('Prise en compte du fichier js :'+arrondi(10.123456789,3))
            console.log ('test prise en compte du temps sec '+(comment[0][2]+tig)+'ecart avec grib'+ (comment[0][2]+tig-tsimul))
            console.log ('tig' +intl.format(1000*(tig)))

            console.log (intl.format(1000*(comment[0][2]+tig))) // a priori t0 du demarrage serveur
            console.log (intl.format(1000*(comment[0][2]+tsimul)))

            for ( var i=0 ; i<comment.length ; i++ )
            {              
            sec= comment[i][2]-(tsimul-tig);    //    sec=sec-(sec%60) ; // secondes depuis le depart  
            tooltip[i]='<b>'+intl.format(1000*(comment[i][2]+tig))+' soit +  '+h_mn(sec)+  '<br> Lat : '+comment[i][0].toFixed(4) +'° ('+pos_dec_mn(comment[i][0])+')<br>Lng : ' +comment[i][1].toFixed(4) +'° (' +pos_dec_mn(comment[i][1])+')<br> TWS : ' +comment[i][3].toFixed(2)
                +' Noeuds  -  TWD : ' +comment[i][4].toFixed(0)+'° <br>  Cap ' +comment[i][5].toFixed(1) +'°     -  TWA ' +comment[i][6].toFixed(1) +'° <br> Vitesse :  ' +comment[i][7].toFixed(2) +' Noeuds'
            }    
            
 
           


        function initialize()
        {            
            document.formu.latdep.value = latdep.toFixed(4)+' ( '+pos_dec_mn(latdep) +' )'
            document.formu.lngdep.value = lngdep.toFixed(4)+' ( '+pos_dec_mn(lngdep) +' )'
            document.formu.latar.value  = latar.toFixed(4)+' ( '+pos_dec_mn(latar) +' )'
            document.formu.lngar.value  = lngar.toFixed(4)+' ( '+pos_dec_mn(lngar) +' )'
            
            //console.log('test de a'+a)
            
        }
   

        const options = {
        key: 'ydO74Xuxv2WWOEShDpel1kaiae8zCnLO',
        verbose: true,

        // Centrage initial de la carte et zoom 
        lat: (latdep+latar)/2,
        lon: (lngdep+lngar)/2,
        zoom: zoomp,
        }

       
      
   
    windyInit(options, windyAPI =>
    {
        const { map,picker, utils, broadcast,store } = windyAPI

        L.polyline(polylineblack).setStyle({ color: 'black', weight:1, opacity:0.3, }).addTo(map);
        L.polyline(polylinered)  .setStyle({ color: 'red'  , weight:1, opacity:0.3, }).addTo(map);
        L.polyline(polylineblue) .setStyle({ color: 'blue' , weight:2,              }).addTo(map);
        
        L.marker([latdep, lngdep],  {icon: blackIcon}).addTo(map);
        L.marker([latar, lngar],    {icon: redIcon}).addTo(map);

        for ( var i=0 ; i<polylineblue.length ; i++ )
        { var circle = L.circle(polylineblue[i],
            {color: 'black',fillColor: '#f03',opacity:0.9,fillOpacity: 0.3,radius: 200,})
            .bindTooltip(tooltip[i])
            .addTo(map);
        }    

        


       

        map.on('mousemove', function(e)
        {
            meteo=vit_angle_vent (e.latlng.lat,e.latlng.lng ,tsimul)
            direction=dist_cap_ortho(latdep,lngdep,e.latlng.lat,e.latlng.lng)
            twac=ftwao(direction[0],meteo[1])
            document.formu.latm.value=e.latlng.lat.toFixed(4)+' soit  '+pos_dec_mn(e.latlng.lat)
            document.formu.lngm.value=e.latlng.lng.toFixed(4)+' soit  '+pos_dec_mn(e.latlng.lng)
            document.formu.twsm.value=meteo[0].toFixed(2)
            document.formu.twdm.value=meteo[1].toFixed(2)
            document.formu.capm.value=direction[1].toFixed(1)
            document.formu.twam.value=twac.toFixed(1)
            document.formu.dism.value=direction[0].toFixed(1)

            
        });








        map.on('click', function(e)
        {   var a=document.getElementById('testjs')
            a.innerHTML="<b>Nouveau Test sur Id</b>"
            //var b=document.getElementById('spinnertwa')
            document.getElementById('spinner_twa').value=45   // affecte la valeur 90 au spinner 
            document.getElementById('spinner_hdg').value=-10   // affecte la valeur 90 au spinner 

            a.innerHTML=$("#spinner_twa").spinner("value")
            twa=document.getElementById('spinner_twa').value
            hdg=document.getElementById('spinner_hdg').value
            console.log ('################################################'+twa+'  hdg '+hdg )

            // on se met un marqueur pour le plaisir
            L.marker([twa, hdg],  {icon: blackIcon}).addTo(map);


            latclick=e.latlng.lat
            lngclick=e.latlng.lng
            latf= latclick
            lngf=lngclick   
            cap_dist  =crsdist( latdep ,lngdep,latclick, lngclick);
            cap_dist2=dist_cap_ortho( latdep ,lngdep,latclick, lngclick)

            polytwa=polyline_twa(latdep,lngdep,latf,lngf,tsimul)
            polycap=polyline_cap(latdep,lngdep,latf,lngf,tsimul)
            
            console.log(polytwa)
            map.removeLayer(poly);   map.removeLayer(poly2);
            for ( var j=0 ; j<74 ; j++ )  {map.removeLayer(circle1[j]); map.removeLayer(circle2[j]);}

            poly2= new L.polyline(polytwa[0]).setStyle({color: 'lime',weight:2,opacity:0.5,}).addTo(map);

            for ( var i=0 ; i<polytwa[0].length ; i++ )
                { circle1[i] = L.circle(polytwa[0][i], {color: 'lime',fillColor: '#f03',opacity:0.9,fillOpacity: 0.3,radius: 200,}).addTo(map);}  

            for ( var i=0 ; i<polycap[0].length ; i++ )
                { circle2[i] = L.circle(polycap[0][i], {color: 'red' ,fillColor: '#f03',opacity:0.9,fillOpacity: 0.3,radius: 200,}).addTo(map);}   

            popup
            .setLatLng(e.latlng)
            .setContent("<b><font color='red'> Cap : " +cap_dist2[1].toFixed(1) +"</font><br><font color='green' > TWA : "+(polytwa[1]).toFixed(1))
            .openOn(map);
            
            document.formu.latc.value=latclick.toFixed(4) + ' soit '+  pos_dec_mn(e.latlng.lat);
            document.formu.lngc.value =lngclick.toFixed(4)+ ' soit '+  pos_dec_mn(e.latlng.lng);
            //document.formu.capc.value =cap_dist2[1].toFixed(2)
            //document.formu.twac.value =polytwa[1].toFixed(1)
            //document.formu.disc.value =cap_dist2[0].toFixed(2)
                    //console.log(dist_cap_ortho( latdep ,lngdep,latclick, lngclick))  
        });



       


       // $("#spinner_twa").on("spinstop", function(){ alert($(this).spinner('value'));







    }) // Fin de windyInit



</script>          
    </head>

 
    <body onload="initialize()">
        <div text-align='right' id='sur' >
            <!-- <div id= "latlngid" > Latlng </div> -->
             
            <form action="http://localhost:8080/windleaf" method="get" name='formu'>

               <label><b>Depart</b></label> Latitude :</label>
                            <input type="text" name="latdep"  value = "" />
                <label>Longitude :</label>
                            <input type="text" name="lngdep"  value="" />
                          
                <label><b>Arrivee</b></label> Latitude</label> : 
                            <input type="text" name="latar" />
                <label>Longitude</label> : 
                            <input type="text" name="lngar" />             
                            <input type="submit" value="Ok" /><br>

                   Curseur      Latitude  : <input type="text" name="latm" />
                                Longitude : <input type="text" name="lngm" />
                                HDG : <input type="text" name="capm" size="8"/>
                                TWA : <input type="text" name="twam" size="8"/>
                                TWS : <input type="text" name="twsm" size='8'/>
                                TWD : <input type="text" name="twdm" size='8'/>                                
                                Dist: <input type="text" name="dism" size="8"/><br>         

                    Click       Latitude            : <input type="text" name="latc" /> 
                                Longitude   : <input type="text" name="lngc" />
                          
                                                             <label for="spinner">TWA:</label>
                                    <input id="spinner_twa" name="twa">
                                    <label for="spinner">HDG:</label>
                                    <input id="spinner_hdg" name="hdg">
					            
            <div id='testjs' >testjsbase</div>
                                
                  <!-- Test :<input type="text" name="test3" /> -->
                  <!-- GFS :<input type="text" name="gfs" /> -->
                </form>
                  
            
        </div>

        <div id="windy">
        </div>


        
    </body>
</html>