<html>
    <head>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
              
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
        <script src="https://api.windy.com/assets/map-forecast/libBoot.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/windleaf.css') }}">
        <script  type="text/javascript" src="{{ url_for('static', filename='js/windleaf.js') }}"></script>
        <script  type="text/javascript" src="{{ url_for('static', filename='js/windleaf2.js') }}"></script>
    </head>


    <script>

              
         // on recupere les donnees postées
            latdep        = - {{ latdep }}
            lngdep        =   {{ lngdep }}
            latar         = - {{  latar }}
            lngar         =   {{  lngar }}
            
            polylinered   =   {{  multipolyred }}
            polylineblack =   {{  multipolyblack }}
            polylineblue  =   {{  route }}
            comment       =   {{  comment }}
            l1            =   {{ l1 }}           // cles pour lire les tableaux de polaire
            l2            =   {{ l2 }}
            polairesjs    =   {{ polairesjs }} 
            
            U10 = {{ U10 }}
			V10 = {{ V10 }}
			tig = {{ tig   }}
            tsimul  = {{ t0    }}

			latini= {{ latini }}
			latfin= {{ latfin }}
			lngini= {{ lngini }}
			lngfin= {{ lngfin }} 
            

			console.log('tig : ' + tig )
			console.log('latini : '+ latini)
			console.log('latfin : '+ latfin)
			console.log( 'lngini : '+ lngini)
			console.log('lngfin : '+ lngfin)
         
            // centrage de la carte 
            var latmap=(latdep+latar)/2           
            var lngmap=(lngdep+lngar)/2
            var tooltip=new Array();
            
            dist=((latdep-latar)**2+(lngdep-lngar)**2)**.5
            if(dist<5)
                {zoomp=7}
            else if (dist<10)
                {zoomp=6}
            else if (dist<20)
                {zoomp=5}  
            else if (dist<70)
                {zoomp=5}  
            else {zoomp=4}

            console.log('Zoom carte : '+zoomp)
            console.log('Temps en s simulation',tsimul)
            console.log('Prise en compte du fichier js :'+arrondi(10.123456789,3))
           
            for ( var i=0 ; i<comment.length ; i++ )
            {              
            sec= comment[i][2]-tsimul;        sec=sec-(sec%60) ; // secondes depuis le depart  
            tooltip[i]='<b>'+intl.format(1000*comment[i][2])+' soit +  '+ h_mn(sec)+  '<br> Lat : '+comment[i][0].toFixed(4) +'° ('+pos_dec_mn(comment[i][0])+')<br>Lng : ' +comment[i][1].toFixed(4) +'° (' +pos_dec_mn(comment[i][1])+')<br> TWS : ' +comment[i][3].toFixed(2)
                +' Noeuds  -  TWD : ' +comment[i][4].toFixed(0)+'° <br>  Cap ' +comment[i][5].toFixed(1) +'°     -  TWA ' +comment[i][6].toFixed(1) +'° <br> Vitesse :  ' +comment[i][7].toFixed(2) +' Noeuds'
            }    
            
 



        function initialize()
        {            
            document.formu.latdep.value = latdep.toFixed(4)+' ( '+pos_dec_mn(latdep) +' )'
            document.formu.lngdep.value = lngdep.toFixed(4)+' ( '+pos_dec_mn(lngdep) +' )'
            document.formu.latar.value  = latar.toFixed(4)+' ( '+pos_dec_mn(latar) +' )'
            document.formu.lngar.value  = lngar.toFixed(4)+' ( '+pos_dec_mn(lngar) +' )'
            
        }
   

        const options = {
        key: 'ydO74Xuxv2WWOEShDpel1kaiae8zCnLO',
        verbose: true,

        // Centrage initial de la carte et zoom 
        lat: (latdep+latar)/2,
        lon: (lngdep+lngar)/2,
        zoom: zoomp,
        }

        
      
   
    windyInit(options, windyAPI =>
    {
    const { map,picker, utils, broadcast,store } = windyAPI

    L.polyline(polylineblack).setStyle({ color: 'black', weight:1, opacity:0.3, }).addTo(map);
    L.polyline(polylinered)  .setStyle({ color: 'red'  , weight:1, opacity:0.3, }).addTo(map);
    L.polyline(polylineblue) .setStyle({ color: 'blue' , weight:2,              }).addTo(map);
    
    L.marker([latdep, lngdep],  {icon: blackIcon}).addTo(map);
    L.marker([latar, lngar],    {icon: redIcon}).addTo(map);

    for ( var i=0 ; i<polylineblue.length ; i++ )
       { var circle = L.circle(polylineblue[i],
         {color: 'black',fillColor: '#f03',opacity:0.9,fillOpacity: 0.3,radius: 200,})
         .bindTooltip(tooltip[i])
         .addTo(map);
       }    

    })

    


  


	
</script>      






       
    </head>
  
    

 
    <body onload="initialize()">
        <div text-align='right' id='sur' >
            <!-- <div id= "latlngid" > Latlng </div> -->
             
            <form action="http://localhost:8080/windleaf" method="get" name='formu'>

               <label><b>Depart</b></label> Latitude :</label>
                            <input type="text" name="latdep"  value = "" />
                <label>Longitude :</label>
                            <input type="text" name="lngdep"  value="" />
                          
                <label><b>Arrivee</b></label> Latitude</label> : 
                            <input type="text" name="latar" />
                <label>Longitude</label> : 
                            <input type="text" name="lngar" />             
                            <input type="submit" value="Ok" /><br>

                   Curseur      Latitude  : <input type="text" name="latm" />
                                Longitude : <input type="text" name="lngm" />
                                HDG : <input type="text" name="capm" size="8"/>
                                TWA : <input type="text" name="twam" size="8"/>
                                TWS : <input type="text" name="twsm" size='8'/>
                                TWD : <input type="text" name="twdm" size='8'/>                                
                                Dist: <input type="text" name="dism" size="8"/><br>         

                    Click       Latitude            : <input type="text" name="latc" /> 
                                Longitude   : <input type="text" name="lngc" />
                            <b><span style ="color:red" > HDG     </span>    : <input type="text" name="capc" size="8"/>
                                <span style ="color:green" > TWA         : <input type="text" name="twac" size='8'/>                                
                                Dist        : <input type="text" name="disc" size="8"/>
                                <p>
						<label for="spinner">TWA:</label>
						<input id="twaspin" name="value">
					  </p>

                                
                  <!-- Test :<input type="text" name="test3" /> -->
                  <!-- GFS :<input type="text" name="gfs" /> -->
                </form>
                  
            
        </div>

        <div id="windy">
        </div>


        
    </body>
</html>